<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="renderer" content="webkit">
    <title>document</title>
    <link rel="stylesheet" href="https://www.phonelee.com/Content/new/newcss/base.css">
    <link rel="stylesheet" href="https://www.phonelee.com/Content/new/newcss/gobal.css">
    <link rel="stylesheet" href="https://www.phonelee.com/Content/css/main.css">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <div id="app">
      <div class="content">
        <!-- content start -->
        <section class="fleb nav_one">
          
        </section>
        
        <section class="out_wrap nav_three">
            <ul class="flec three_tab">
              <a href="javascript:;" class="active"><li>借款信息</li></a>
              <a href="javascript:;"><li>投标记录</li></a>
              <a href="javascript:;"><li>还款计划</li></a>
              <a href="javascript:;"><li>风险提示</li></a>
              <a href="javascript:;"><li>常见问题</li></a>
            </ul>
            <!-- 借款信息 start -->
            <div class="three_list">
              <div class="wrap_box">
                <div id="component1"></div>
                <div id="component2"></div>
                <div class="information_video">
                  <div class="vid-wrapper">
                    <video controls poster="http://n.sinaimg.cn/www/20171121/yJRQ-fynwnws1142508.jpg">
                      <source src="http://thinkother.cn/data/upload/ueditor/20171024/59eefa4e4d56f.mp4" type="video/mp4">
                    </video>
                  </div>
                  <div class="vid-wrapper">
                    <video controls poster="http://n.sinaimg.cn/www/20171121/yJRQ-fynwnws1142508.jpg">
                      <source src="http://thinkother.cn/data/upload/ueditor/20171024/59eefa4e4d56f.mp4" type="video/mp4">
                    </video>
                  </div>
                </div>
                <div id="component3"></div>
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <img src="http://n.sinaimg.cn/www/20171121/yJRQ-fynwnws1142508.jpg" alt="">
                      <div>身份证</div>
                    </div>
                    <div class="swiper-slide">
                        <img src="http://n.sinaimg.cn/www/20171121/yJRQ-fynwnws1142508.jpg" alt="">
                        <div>身份证</div>
                    </div>
                    <div class="swiper-slide">
                        <img src="http://n.sinaimg.cn/www/20171121/yJRQ-fynwnws1142508.jpg" alt="">
                        <div>身份证</div>
                    </div>
                  </div>
                  <div class="swiper-button-prev  swiper-button-black"></div>
                  <div class="swiper-button-next  swiper-button-black"></div>
                </div>
              </div>
            </div>
            <!-- 借款信息 end -->
  
            <!-- 投标记录 start -->
            <div class="three_list"></div>
            <!-- 投标记录 end -->
  
            <!-- 还款计划 start -->
            <div class="three_list"></div>
            <!-- 还款计划 end -->
  
            <!-- 风险提示 start -->
            <div class="three_list"></div>
            <!-- 风险提示 end -->
  
            <!-- 常见问题 start -->
            <div class="three_list"></div>
            <!-- 常见问题 end -->
        </section>
        
        <!-- content end -->
      </div>
    </div>
  </body>
</html>